body {
 background-color: #ffffff;
 }

 .freelancer-picture {
 width: 500px;
 }

 #container {
 width: 1100px;
 margin: 0 auto;
 background-color: #ffffff; 
 font-family: 'Noto Serif', serif;
 text-align: left;
 }

 header{
	 background-color: #000000;
	 padding: 0px;
	 color: White;
	 font-family: 'Noto Serif', serif;
 }

 header h2{
	 margin: 0;
	 padding-left: 40px;
	 padding-top: 20px;
	 padding-bottom: 10px;
	 font-family: 'Noto Serif', serif;
 }

 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #000000d3;
}
p{
	margin-top: 40px;
}
 footer{
	 background-color: #000000;
	 padding: 40px;
	 color: white;
 }
 footer p{
	 margin: 0;
 }
 
#freelancer-picture {
	width: 400px;
}
 .column{
	 display: grid;
	 padding: 10px;
	 background-color: rgb(255, 255, 255);
	 text-align: center;
 }
 .two-column{
	 display: grid;
	 grid-template-columns: 50% 50%;
	 padding: 0px;
	 background-color: rgb(255, 255, 255);
	 text-align: left; 
 }
.two-column1
{
	padding-left: 0px;
    margin-left: 300px;
	background-color: white;
}
 .two-column div{
	 background-color: rgb(255, 255, 255);
	 margin-left:10px;
	 margin-right: 10px;
	padding-left: 3px;		
 }

 .three-column{
	 display: grid;
	 grid-template-columns: 33% 33% 33%;
	 padding: 40px;
	 background-color: #000000;
 }

 .three-column div{
	 background-color: white;
	 margin-left: 30px;
	 margin-right: 30px;
	 }

 p{
	 margin-left: 0px;
	font-family: 'Noto Serif', serif; 
	margin-right: 10px;
	font-size-adjust: 4;
	line-height: 2;
	letter-spacing: 0.58px;
	text-indent: 20px;
 }

 .Phone-picture
 {
	 width:480px;
	 height:400px;
 }

 .Education-picture
 {
	 width:450px;
	 height:400px;
	 margin: center;
	 margin-top: 20px;
	 
 }

 .button
 {
	 background-color: #7c7c7c;
  border: none;
  color: white;
  position: relative;
  left: 240px;
  padding: 16px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; 
 }
 
 .buttondiv
 {
	 background-color: white;
 }

 .buttondiv:hover
 {
	 background-color: black;
 }

 .link {
	 margin-top: 60px;
 }

 
.img2
{
    width: 450px ;
    height: 900px;
	margin-top: 50px;
    margin-left: 20px;
    margin-right: 50px;
    box-shadow: -35px -30px 0 -5px #e6e6e6, -45px -30px 0 0 white;
    transition: box-shadow ease-in 150ms;
}

.img5
{
    width: 450px ;
    height: 900px;
	margin-top: 50px;
    box-shadow: -35px -30px 0 -5px #e6e6e6, -45px -30px 0 0 white;
    transition: box-shadow ease-in 150ms;
}

.divison
{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 60px;
    background-color: white;
}